name: Deploy to Tfstate Output Store (Lambda)

on:
  workflow_dispatch: {}
  push:
    branches: ["main"]
    paths:
      - "src/tfstate_output_store.py"

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        environment: [production]
    environment: ${{ matrix.environment }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: "pip"

      - name: Build source code using setup tools
        run: |
          python -m pip install --upgrade pip
          pip install poetry

          poetry self add poetry-plugin-export
          poetry export -f requirements.txt -o requirements.txt --without-hashes

          mkdir build

          pip install -r requirements.txt -t build

          cp -r src build/

      - name: Deploy Lambda Function
        uses: aws-actions/aws-lambda-deploy@v1.1.0
        with:
          function-name: tfstate-output-store
          code-artifacts-dir: build
          s3-bucket: ${{ secrets.AWS_S3_BUCKET }}
          s3-key: "${{ github.event.repository.name }}/${{ matrix.environment }}/tfstate-output-store.zip"
          publish: true
          handler: src.tfstate_output_store.lambda_handler
          runtime: python3.13
